<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://opengraphprotocol.org/schema/" xml:lang="en" lang="en"> 

<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>Racket</title>
	<link rel="shortcut icon" href="/favicon.ico" />
	<link rel="stylesheet" href="/css/reset.css" type="text/ass" media="screen" />
	<link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" />
	<link rel="stylesheet" type="text/css" href="/css/MyFontsWebfontsKit.css">
	<script src="/js/jquery.js" type="text/javascript"></script>
	<script src="/js/jquery.color.js" type="text/javascript"></script>
	<script src="/js/main.js" type="text/javascript"></script>
	<link rel="stylesheet" type="text/css" href="/css/MyFontsWebfontsKit.css">	<link rel="stylesheet" href="/css/suggest.css" type="text/css" media="screen" />	
	<script type="text/javascript">
	$(document).ready(function() {
		$('a.button').hover(function() { $(this).animate({backgroundColor: '#19784d'}); }, function() { $(this).animate({backgroundColor: '#1aad63'}); });
	});

	</script>

</head>
<body>
	<%= yield %>

<script src="js/jquery.suggest.js"></script>
<script src="js/json2.js"></script>

<br><br><br><br><br>
	
</body>
</html>