<br><input size="30" placeholder="Your serve" class="large" style="width:98%;"><br>
<textarea class="large" placeholder="Say something about it (optional)" style="height:100px; width:98%;"></textarea><br>
<div style="float:right; margin-top:10px"><a href="#" class="button">Serve!</a></div>