	<center><div id="logobutton" align="center"><a href="/" class="fadeThis" id="logo"><span>Racket</span></a></div></center>

	<div class="screen_wrapper">
		<div class="screen">
					
			<% if session[:access_token] %>
			<!-- DASHBOARD SCREEN -->
			<div class="main">
				<div id="welcome">
					<a href="#" class="button" id="start_button">New serve</a>
					<h2>Dashboard</h2>
					
					<a class="listing" href="#">
						<img src="http://i.imgur.com/yoU56.png">
						<div class="left info">
							<h3>Sid Yadav</h3>
							<div class="ago">6 hours ago</div>
						</div>
						<div class="icon open">3</div>
						<div class="icon hits">3</div>
						<div class="icon misses">3</div>
						
						<div class="arrow">&raquo;</div>
					</a>
					
					
					<a class="listing" href="#">
						<img src="http://i.imgur.com/yoU56.png">
						<div class="left info">
							<h3>Sid Yadav</h3>
							<div class="ago">6 hours ago</div>
						</div>
						<div class="icon open">3</div>
						<div class="icon hits">3</div>
						<div class="icon misses">3</div>
						
						<div class="arrow">&raquo;</div>
					</a>
					
					
					<a class="listing" href="#">
						<img src="http://i.imgur.com/yoU56.png">
						<div class="left info">
							<h3>Sid Yadav</h3>
							<div class="ago">6 hours ago</div>
						</div>
						<div class="icon open">3</div>
						<div class="icon hits">3</div>
						<div class="icon misses">3</div>
						
						<div class="arrow">&raquo;</div>
					</a>
					
					
					<a class="listing" href="#">
						<img src="http://i.imgur.com/yoU56.png">
						<div class="left info">
							<h3>Sid Yadav</h3>
							<div class="ago">6 hours ago</div>
						</div>
						<div class="icon open">3</div>
						<div class="icon hits">3</div>
						<div class="icon misses">3</div>
						
						<div class="arrow">&raquo;</div>
					</a>
					<br>
				</div>

			</div>
			<%= render :template => "layouts/sidebar" %>
			<% end %>
			<br><br>
		</div>
	</div>