<div class="side">
	<h3>Open Serves</h3>
	<div class="box">None yet.<br><br>You'll need to be served first!</div>
	<br><br>
	<h3>Hit List</h3>
	<div class="box">None yet.<br><br>You'll need to hit a few serves first!</div>

</div>